---
import Video from "./Video.astro";
---

<section class="h-screen flex flex-col items-center gap-12 py-20" id="callout">
    <h2>Your Unfair social advantage...</h2>
    <Video />
    <a
        href="https://calendly.com/lukegrenoble/social-celebrity?month=2025-02"
        class="btn">Book Now</a
    >
</section>
