---

---

<section
    id="callout"
    class="h-screen flex flex-col justify-center items-center gap-12 py-20"
>
    <h2>Your Unfair social advantage...</h2>
    <video controls class="h-2/3">
        <source
            src="https://xg6aghuh0r.ufs.sh/f/ynAbNEXr0WYQrG4L5ezeXfCPLHKp7d0wTl5IvEtkMF6VgbJn"
            type="video/mp4"
        />
        Your browser does not support HTML video.
    </video>
    <a
        href="https://calendly.com/lukegrenoble/social-celebrity?month=2025-02"
        class="btn">Book Now</a
    >
</section>
