---
import { Image } from "astro:assets";
import Luke from "../assets/luke.png";
---

<section class="lg:h-screen flex flex-col lg:grid lg:grid-cols-2">
    <div class="flex flex-col lg:gap-10 lg:pr-20 lg:order-1 order-2">
        <h1 class="lg:text-nowrap -translate-y-4/10 lg:-translate-y-0">
            Become a<br />Social Leader
        </h1>
        <p class="pb-8 lg:pb-0">
            Start living the life that<br />you truly desire
        </p>
        <div class="flex justify-center lg:justify-start">
            <button id="hero_button">Know how</button>
        </div>
    </div>

    <div class="h-fit flex justify-center items-start lg:order-2 order-1">
        <Image src={Luke} alt="Luke Photos" />
    </div>
</section>

<script>
    let hero_button = document.getElementById("hero_button");
    let second_section = document.getElementById("callout");
    if (hero_button)
        hero_button.addEventListener("click", () => {
            if (second_section)
                second_section.scrollIntoView({
                    behavior: "smooth",
                });
        });
</script>
